In [3]:
a= [1,2,3]
print(a,type(a))
names = ['saksham','dubey','rohan']
print(names,type(names))
data = ['apple',50,'orange',100,'banana',150]
nested_list = [[1,2,3],[4,5,6],[7,8]]
print(data)
print(nested_list)
duplicated_list = [1]*10
print(duplicated_list)
print(list('vertex'))
print('welcome to listening'.split())

[1, 2, 3] <class 'list'>
['saksham', 'dubey', 'rohan'] <class 'list'>
['apple', 50, 'orange', 100, 'banana', 150]
[[1, 2, 3], [4, 5, 6], [7, 8]]
[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
['v', 'e', 'r', 't', 'e', 'x']
['welcome', 'to', 'listening']

In [5]:
n = [11,12,13,14,15,16,17,18,19,20]
print('first five =',n[:5])
print('last five =',n[-5:])
print('first element = ',n[-1])
print('except first 2 and last 2 =',n[2:-2])
print('reverse list =',n[::-1])
print('all even indexes = ',n[::2])
print('all odd indexes = ',n[1::2])

first five = [11, 12, 13, 14, 15]
last five = [16, 17, 18, 19, 20]
first element =  20
except first 2 and last 2 = [13, 14, 15, 16, 17, 18]
reverse list = [20, 19, 18, 17, 16, 15, 14, 13, 12, 11]
all even indexes =  [11, 13, 15, 17, 19]
all odd indexes =  [12, 14, 16, 18, 20]

In [6]:
#list is mutable
n[5] = 100 #update
print(n)
n[0] = 200
print(n)

16

In [7]:
fruits = ['orange','apple','banana']
fruits[0] = 'guava'
print(fruits)
fruits[1] = 'cherry'
print(fruits)

['guava', 'apple', 'banana']
['guava', 'cherry', 'banana']

- FUNCTION
    - append
    - extend
    - insert

In [10]:
movies = []
print(type(movies))
print(len(movies))
movies.append('dangal')
movies.append('krish')
movies.append('dhoom')
movies.append('jumanji')
movies.append('robot')
print(movies)
print(len(movies))

<class 'list'>
0
['dangal', 'krish', 'dhoom', 'jumanji', 'robot']
5

In [12]:
ff = ['mirzapurS1',
      'mirzapurS2',
      'mirzapur S3',
      'mirzapurS4']
ff.append('mirzapurS5')
print(ff)
ff.insert(2,'mirzapur coming')
print(ff)

['mirzapurS1', 'mirzapurS2', 'mirzapur S3', 'mirzapurS4', 'mirzapurS5']
['mirzapurS1', 'mirzapurS2', 'mirzapur coming', 'mirzapur S3', 'mirzapurS4', 'mirzapurS5']

In [14]:
n = [1,2,3,4,5,6,7,8,9]
n.insert(3,4)      # on 3rd index, insert value =4
print(n)
n.insert(4,5)
print(n)
n.insert(100,5)    # invalid index, so it will insert at the end
print(n)

[1, 2, 3, 4, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 4, 5, 6, 7, 8, 9, 5]

In [19]:
# adding list in a another list
l1 = [1,2,3]
l2 = [4,5,6]
l3 = [7,8,9]
l1.extend(l3)
print(l1)
l2.extend(l1)
print(l2)
l3.extend([34,45,4,5,6])
print(l3)

[1, 2, 3, 7, 8, 9]
[4, 5, 6, 1, 2, 3, 7, 8, 9]
[7, 8, 9, 34, 45, 4, 5, 6]