In [ ]:
import os 
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

# Reading data

In [ ]:
info = {
    'names': ['dev','shiv','raj','deva','suraj'],
    'age': [23,21,19,18,17],
    'height':[4.3,5.3,5.6,5.7,6.1],
}
d1=pd.DataFrame(info)
d1

In [ ]:
d2 =pd.read_csv('datasample.csv')
d2

In [ ]:
df=pd.set_option('display.max_coloumn',None)
df

In [ ]:
df= pd.read_excel('Canada.xlsx',
              sheet_name=1,
              skiprows=20,
              skipfooter=2,

            )
df

## looking at the data 
- head(n) - top n rows of the data 
- tail(n) - bottom n rows of the data
- sample(n)- random n samples of the data
- info(n) - coloumn wise datatypes
- describe() - summary statistics of the data

In [ ]:
df.head()

In [ ]:
df.tail

In [ ]:
df.sample()

In [ ]:
df.info()

In [ ]:
df.describe()

In [ ]:
df.describe(include=object)

## coloumn wise data

In [ ]:
df.columns

In [ ]:
df['OdName']   # series object

In [ ]:
df['AreaName']

In [ ]:
# multiple coloumns

df[['AreaName','RegName']] #data frame object

In [ ]:
years = list(range(1980,2014))
df[years]

In [ ]:
df[['OdName',1980,1990,2000,2010,2011,2012,2013]]

In [ ]:
# Row wise access using loc and iloc

df.loc[194]   #Label wise location

In [ ]:
df.iloc[0]   #Index wise location

In [ ]:
df.iloc[:10,[0,1,2,3,4,5]]

In [ ]:
df.loc[:10,['OdName',1980,1990,2000,2010]]

# Manipulating Data

In [ ]:
d2['english']+d2['math']+d2['science']

In [ ]:
d2['Total'] = d2['english'] + d2['math']+ d2['science']
d2

In [ ]:
d2['Average'] = d2['Total']/3
d2

In [ ]:
df

In [ ]:
# To get the total of the years in the sheet.

df['total']= df[years].sum(axis=1)
df

In [ ]:
df['dummy_col']= 1
df

# Dropping the unwanted coloumns
- drop()- drop the coloumns
- dropna()- drop the rows with missing values
- drop_duplicates()- drop the duplicate rows

In [ ]:
df
cols_to_drop = ['Type','Coverage','AREA','REG','DEV','dummy_col']
df=df.drop(columns=cols_to_drop)

In [ ]:
df=df.rename(
    columns={
        'OdName':'country',
        'AreaName':'continent',
        'RegName':'region',
        'DevName':'status'

    }
)
df

In [ ]:
df

In [ ]:
df.sort_values(by='total')   #ascending order

In [ ]:
df.sort_values(by='total', ascending=False)  #descending oreder
df.head()

In [ ]:
df.head(10)['total'].mean()

In [ ]:
fig,ax = plt.subplots(figsize=(15,6))
sns.barplot(x='country',y='total',data=df.head(10),ax=ax)
ax.axhline(df.head(10)['total'].mean(),color = 'r',linestyle = '--')
ax.text(5,df.head(10)['total'].mean()+1000, df.head(10)['total'].mean())
plt.title('Top 10 countries with the highest immigration overall')
plt.xticks(rotation=90)
plt.show()

In [ ]:
df['country'].tolist()

In [ ]:
df=df.replace(' Bolivia (Plurinational State of)','UK')
df

In [ ]:
df['totol_str']=df['total'].apply(lambda i:f'{i/10000:.2f}lac')
df

# Grouping data
- groupby()- group the data
    - groups the data according a single/multiple columns and then allows us to do the operations like mean,sum,max,etc
- pivot_table()- pivot the data
    - generate a matrix based on row and coloumn provided

In [ ]:
df

In [ ]:
df.groupby(by='continent')  # groupby object

In [ ]:
# getting a particular group subset

df.groupby(by='continent').get_group('Asia') # only subset for asia
df.groupby(by='continent').get_group('Europe') # only subset for Europe

In [ ]:
# getting group based stats
df.groupby(by='continent')['total'].sum()

In [ ]:
df.groupby(by='continent')[[1980,1981,1982,1983,1984]].sum()

In [ ]:
df.groupby(by='continent')[years].sum()

In [ ]:
# When grouping on multiple columns, add reset_index to get the dataframe
df.groupby(by=['continent','status'])['total'].sum().reset_index()

In [ ]:
continent_df = df.groupby(by='continent')[years].sum()
sns.heatmap(continent_df, cmap='coolwarm')

In [ ]:
fig,ax = plt.subplots(figsize = (15,6))
sns.lineplot(data=continent_df.T, dashes=False)

In [ ]:
# 3 items for pivot - index, column,values
# index and columns should be categorical type
# values must be numerical type

df2 = df.pivot_table(index = 'continent',\
                     columns='status',
                     values='total')
df2

In [ ]:
# pandas plot function
df2.plot(kind='pie',subplots=True,figsize=(15,6),autopct = '%1.1f%%')

# TASK

- Download the pokemon dataset from the kaggle.com and put it inside the