# Set
 - create
 - method

In [13]:
x = set() #empty
print(x)
y = {1,2,3,4,5,6,1,2}
print(y)
fruits = {'apple','banana','cherry'}
print(fruits)
data = {'apple',203,'banana',475}
print(data)
a = set([1,2,3,4,5,6,7,8,9,10])
b = set('harry potter')
print(a)
print(b)

set()
{1, 2, 3, 4, 5, 6}
{'banana', 'apple', 'cherry'}
{203, 'banana', 'apple', 475}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{' ', 'r', 't', 'o', 'y', 'a', 'p', 'h', 'e'}

In [14]:
a=set()
a.add('saksham')
a.add('deva')
a.add('grihkv')
print(a)

{'grihkv', 'saksham', 'deva'}

In [15]:
a.update(['rohan','yuvraj','aditi','dev'])
print(a)

{'yuvraj', 'grihkv', 'saksham', 'aditi', 'dev', 'deva', 'rohan'}

In [16]:
a.add('dev')  #not added
print(a) # no duplicates

{'yuvraj', 'grihkv', 'saksham', 'aditi', 'dev', 'deva', 'rohan'}

In [17]:
a = {1,2,3}
b = {3,4,5}
c = {6,7,8}
print(a.union(b))
print(a.union(b,c))
print(a|b|c)  #  | is union
print(a.intersection(b))
print(a&b) # & is intersection
print(a&c)
print(a&b&c)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}
{3}
{3}
set()
set()

In [ ]:
print(a.difference(b))
print(b.difference(a))
print(a-b)  # -  is difference
print(a.symmetric_difference(b))
print(a^b) #  ^ is symmetric difference

- Dictionary

In [1]:
data = ['alex',True,False,'new york','photographer']
datadict = {
    'name': 'alex',
    'isMarried': 'True',
    'hasChildren':'False',
    'age': 29,
    'city': 'new york',
    'profession': 'photographer'
}

movies = {}  # empty dictionary
expenditure = dict(
    food = 500,
    rent  = 1700,
    insurance = 200
)

print(datadict)
print(expenditure)

{'name': 'alex', 'isMarried': 'True', 'hasChildren': 'False', 'age': 29, 'city': 'new york', 'profession': 'photographer'}
{'food': 500, 'rent': 1700, 'insurance': 200}

- creating
- accessing
- add or update
- remove
- traversal

In [6]:
print(datadict['name'])
print(datadict['isMarried'])
print(datadict['city'])
#print(datadict['state'])

alex
True
new york

In [7]:
print(datadict.get('city'))
print(datadict.get('City'))    # City is not in the dictionary
print(datadict.get('age'))
print(datadict.get('AGE',100))  # AGE is not in the dictionary

new york
None
29
100

In [8]:
movies['deadpool & wolverine'] = 'shawn levy'
movies['bahubali'] = 'ss rajamauli'
movies['inception'] = 'christopher nolan'
print(movies)

{'deadpool & wolverine': 'shawn levy', 'bahubali': 'ss rajamauli', 'inception': 'christopher nolan'}

In [11]:
movies.update(
    {
        'the dark knight': 'christopher nolan',
        'the prestige': 'christopher nolan',
        'the matrix': 'wachowski brothers',
    }
)
print(movies)

6

In [12]:
movies.pop('bahubali')

'ss rajamauli'

In [13]:
movies

{'deadpool & wolverine': 'shawn levy',
 'inception': 'christopher nolan',
 'the dark knight': 'christopher nolan',
 'the prestige': 'christopher nolan',
 'the matrix': 'wachowski brothers'}

- for loop in dict will iterate over keys

In [14]:
for item in datadict:
    print(item)

name
isMarried
hasChildren
age
city
profession

In [15]:
for item in datadict:
    print(datadict[item])

alex
True
False
29
new york
photographer

In [16]:
for k,v in datadict.items():
    print(k,':',v)

name : alex
isMarried : True
hasChildren : False
age : 29
city : new york
profession : photographer

- Nested dictionary

In [17]:
report = {
    '01': {
        'name' : 'alex',
        'subject': {
            'maths': 90,
            'science': 80,
            'english': 70
        }
    },
    '02': {
        'name': 'john',
        'subjects':{
            'maths':80,
            'science':70,
            'english':56
        }
    },
}
print(report)

{'01': {'name': 'alex', 'subject': {'maths': 90, 'science': 80, 'english': 70}}, '02': {'name': 'john', 'subjects': {'maths': 80, 'science': 70, 'english': 56}}}

- To print output in paragrapgh

In [18]:
from pprint import pp
pp(report)

{'01': {'name': 'alex', 'subject': {'maths': 90, 'science': 80, 'english': 70}},
 '02': {'name': 'john',
        'subjects': {'maths': 80, 'science': 70, 'english': 56}}}