STRINGS

- creation
- indexing and slicing
- methods

In [1]:
# single quoted
a='apple'
print(type(a))

<class 'str'>

In [2]:
#double quoted
b="big apple"
print(type(b))

<class 'str'>

In [3]:
# Tripple quoted
c='''hello my name is 
saksham how are you'''
print(type(c))

<class 'str'>

TYPES OF STRING
- byte   b'hello'
- raw    r'hello'
- format f'hello{a}'

In [4]:
print(b'this is a string')
print(r'this is \n\n\n a byte string')
print(f'{a} is a value')

b'this is a string'
this is \n\n\n a byte string
apple is a value

# INDEXING
   -5  -4  -3  -2  -1
   a    p   p   l   e
   e    1   2   3   4

In [5]:
word = 'Greek'
print(word[0])
print(word[1])
print(word[2])
print(word[-2])
print(word[-1])

G
r
e
e
k

In [6]:
msg="journey before destination"
print(msg[15])
print(msg[-6])
print(msg[0]+msg[1]+msg[2]+msg[3]+msg[4]+msg[5]+msg[6])

d
n
journey

SLICING

sequence[start : stop]

sequence[start : stop : step]

In [7]:
print(msg[0:7])
print(msg[15:])

journey
destination

In [8]:
name = 'vijay dinanath chauhan'
fname= name[:5]
mname= name[6:-8]
lname = name[-7:]
print(fname)
print(mname)
print(lname)

vijay
dinanath
chauhan

In [9]:
#reverse
print(name[::-1])

nahuahc htananid yajiv

In [10]:
x="$5599.25 only"
print('covert it into float')
print(x[1:-4])
print(float(x[1:-4]))

covert it into float
5599.25
5599.25

- Utility function
    - split()
    - join()
    - find()
    - replace()
    - rfind()
    - index()
    - count()
    - strip()

In [11]:
sentence = 'all the glitter is not gold'
len(sentence.split())

6

- SPLIT()

In [12]:
words = sentence.split()
for word in words:
    print(word)

all
the
glitter
is
not
gold

In [13]:
poem = '''jhony jhony yes papa,
eating sugar no papa,
telling lie no papa,
open your mouth, ha! ha! ha!
'''
poem.splitlines()

['jhony jhony yes papa,',
 'eating sugar no papa,',
 'telling lie no papa,',
 'open your mouth, ha! ha! ha!']

- JOIN()

In [14]:
addr = ['C:', 'users', 'saksham','download','file.txt']
full_addr= '//'.join(addr)
print(full_addr)

C://users//saksham//download//file.txt

[Q]: Wap to count all even sized words in a string enter by user

In [15]:
sentence = input('enter a sentnece')
words = sentence.split()
total = 0
for word in words:
    size = len(word)
    if size%2==0:                           # for odd size!=0
        total +=1
print(total)

- FIND() And INDEX()

In [ ]:
a= 'this is a message'
print(a.find('is'))
print(a.find('mess'))
print(a.find('are'))
# index is same as find but it throws an error if not found
print(a.index('is'))\
print(a.index('is',3))   # start from index 3
print(a.index('are')) #error

- REPLACE()

In [ ]:
a= 'this is a message'

b= a.replace('is','was')
print(b)
c=b.replace('message','letter').replace('was','is')
print(c)
d= c.replace('t','k',2)                     # replace only first 2 occurances
print(d)

In [ ]:
# Replace as remove

data = 'he!!!!!llo!'
data.replace('!','')

[Q] Wap to remove all the vowels from a string

In [9]:
sentence = input('enter a sentence')
b= sentence.replace('a','').replace('e','').replace('i','').replace('o','').replace('u','')
print(b)

h

- COUNT()

In [10]:
msg = 'one of the tie there was one one two two thre theee five'
print(msg.count('one'))
print(msg.count('two'))

3
2

- STRIP()

In [11]:
name = 'alex mercer'
print(len(name), name)
clean_name= name.strip()     # strip is used to remove the spaces from the starting and ending sentence
print(len(clean_name), clean_name)

11 alex mercer
11 alex mercer

[Q] Display the data after removing all leading and trailing spaces and making it upper case

In [12]:
names = [
    'john',
    'alex',
    'jane',
    'alexa',
    'jacob',
]
for i in names:
    print(i.strip())

john
alex
jane
alexa
jacob