STRINGS

- creation
- indexing and slicing
- methods

In [1]:
# single quoted
a='apple'
print(type(a))

<class 'str'>

In [2]:
#double quoted
b="big apple"
print(type(b))

<class 'str'>

In [3]:
# Tripple quoted
c='''hello my name is 
saksham how are you'''
print(type(c))

<class 'str'>

TYPES OF STRING
- byte   b'hello'
- raw    r'hello'
- format f'hello{a}'

In [4]:
print(b'this is a string')
print(r'this is \n\n\n a byte string')
print(f'{a} is a value')

b'this is a string'
this is \n\n\n a byte string
apple is a value

# INDEXING
   -5  -4  -3  -2  -1
   a    p   p   l   e
   e    1   2   3   4

In [5]:
word = 'Greek'
print(word[0])
print(word[1])
print(word[2])
print(word[-2])
print(word[-1])

G
r
e
e
k

In [8]:
msg="journey before destination"
print(msg[15])
print(msg[-6])
print(msg[0]+msg[1]+msg[2]+msg[3]+msg[4]+msg[5]+msg[6])

d
n
journey

SLICING

sequence[start : stop]

sequence[start : stop : step]

In [9]:
print(msg[0:7])
print(msg[15:])

journey
destination

In [12]:
name = 'vijay dinanath chauhan'
fname= name[:5]
mname= name[6:-8]
lname = name[-7:]
print(fname)
print(mname)
print(lname)

vijay
dinanath
chauhan

In [13]:
#reverse
print(name[::-1])

nahuahc htananid yajiv

In [18]:
x="$5599.25 only"
print('covert it into float')
print(x[1:-4])
print(float(x[1:-4]))

covert it into float
5599.25
5599.25